@font-face {
	font-family: 'Nukamiso';
	font-weight: normal;
	font-style: normal;
	src: url(../fonts/nukamiso__beta08.ttf) format("truetype");
}

/* minindo-verified haltmann FILE font */

@font-face {
	font-family: 'Primetime';
	font-weight: normal;
	font-style: normal;
	src: url(../fonts/primetime-webfont.woff2) format("woff2");
}

/* haltmann logo font from hwcinternaldb */

@font-face {
	font-family: 'Aldrich';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/aldrich/v22/MCoTzAn-1s3IGyJMVacY37H6D_A.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/*da funni tno font*/

@font-face {
	font-family: 'Bombardier';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(../fonts/BOMBARD_.otf);
}

/* da other funni tno font */

:root {
	scrollbar-width: none;
	--offwhite: #E3DAC9;
	--new_order_gray: #3c3c3c;
	--new_order_black: #03151b;
	--new_order_blue: #64C8C8;
}

body {
	background-color: #090909;
	font-family: 'Aldrich';
	margin: 0;
}

#scanlines {
	mix-blend-mode: multiply;
	filter: grayscale(100%);
	top: 0;
	left: 0;
	position: absolute;
	width: 100%;
	opacity: 30%;
	height: 100%;
	background-repeat: repeat;
	background-position-y: 2px;
	animation: move 1s linear 0s forwards infinite;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAKCAYAAAC0VX7mAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAABXSURBVDhPrdKhDYBgDEThKzRIBCuhWQjPRlhWIgENhP7JjfA+9dSJpvEqT4HiUbe7EfEpVzeiBvvZjahBjW5EG5zciBocFjei3XBzI9ofHm5EXMrbDZB+9YgPBHp56akAAAAASUVORK5CYII=');
	pointer-events: none;
	z-index: 6;
}

@keyframes move {
	from {
		background-position-y: 0px;
	}

	to {
		background-position-y: 10px;
	}
}

#background {
	position: absolute;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	z-index: -1;
	background-image: url('../miscellaneous/sg10.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 33vw 33vw;
	filter: blur(2px) opacity(6.125%);
	pointer-events: none;
	opacity: 1;
}

#container {
	width: 100vw;
	height: 100vh;
	display: grid;
	display: flex;
	margin: 0;
	padding: 0;
}