#controls {
	width: 100vw;
	height: fit-content;
	justify-content: center;
	align-content: center;
	position: fixed;
	background-color: rgba(16, 16, 16, 0.85);
	border-bottom: 2px #ddd solid;
	transition: 3s;
	top: -207px;
	font-family: 'Aldrich';
	z-index: 2;
}

.mytooltip {
	position: relative;
	display: inline-block;
	cursor: pointer;
	background-color: color-mix(in srgb, var(--new_order_gray) 67%, #090909 33%);
	border-radius: 5px;
	padding: 2px;
	z-index: 1;
}

#legend {
	margin: auto;
	width: 1046px;
	text-align: left;
}

#audio,
#file_click {
	display: none;
}

#select {
	background-color: inherit;
	margin: auto;
	text-align: left;
	width: fit-content;
	width: 1046px;
	display: flex;
	flex-direction: row;

	label {
		padding-inline: .33em;
		cursor: pointer;
		transition: 0.5s ease-out;
	}

	input {
		display: none;
	}
}


button {
	color: var(--offwhite);
	font-size: 1em;
}

body {
	color: var(--offwhite);
	margin: 0;
	overflow: hidden;
}

::-webkit-scrollbar {
	width: 0px;
}

p {
	margin: 0;
	color: var(--offwhite);
	font-size: 1em;
}

h3 {
	font-size: 1.5em;
	margin-top: 0px;
	margin-bottom: 20px;
	color: color-mix(in srgb, var(--offwhite) 50%, gray 50%);
}

h4,
.title {
	margin-left: 0px;
	margin-top: 0;
	color: color-mix(in srgb, var(--offwhite) 50%, gray 50%);
}

.note {
	font-style: italic;
	margin-bottom: 20px;
	color: color-mix(in srgb, var(--offwhite) 50%, gray 50%);
}

.archive {
	color: var(--offwhite);
}


.date {
	color: color-mix(in srgb, var(--offwhite) 50%, gray 50%);
}

#timeline {
	width: 67%;
	margin-top: 225px;
	opacity: 0;
}

#timeline_container {
	height: 100vh;
	overflow-y: auto;
	overflow-x: hidden;
	scrollbar-width: none;
}

.content {
	font-size: 1em;
	margin-left: 2em;
	margin-bottom: 20px;
	color: var(--offwhite);
}

tr {
	display: flex;
	flex-direction: column;
}

table {
	margin-left: 7em;
}

.double-entry {
	margin-bottom: 1em;
}

.AIRTH {
	color: #66DDAA;
}

.CCC {
	color: #9966cc;
}

.KIRBY {
	color: orchid;
}

.PAINT {
	color: teal;
}

.OTHER {
	color: gray;
}

.FOOLS {
	color: #c54b8c;
}

.NUGGET {
	color: #F4A460;
}

.GORK {
	color: #CCC2BA;
}

.SPIDA {
	color: #F0DC82;
}

.HCB {
	color: #4682B4;
}

.KITTY {
	color: #C8A2C8;
}

.RESPH {
	color: #963D7F;
}

.NOAKA {
	color: #778899;
}

#terminal {
	display: block;
	margin-top: 2em;
	margin-left: 2em;
	white-space-collapse: collapse;

	p,
	span {
		display: inline;
	}
}

.enabled_glow {
	text-shadow: 0px 0px 10px rgba(221, 221, 221, 0.67), 0px 0px 20px rgba(221, 221, 221, 0.67);
}