/* CSS Document */
@font-face {
	font-family: 'Rodin';
	font-weight: normal;
	font-style: normal;
	src: url(fonts/Rodin-Regular.ttf) format("truetype");
}
@font-face {
	font-family: 'Rodin-Bold';
	font-weight: bold;
	font-style: normal;
	src: url(fonts/Rodin-Bold.ttf) format("truetype");
}
@font-face {
	font-family: 'Seurat DB';
	font-weight: normal;
	font-style: normal;
	src: url(fonts/FOT-SeuratPro-DB.otf) format("opentype");
}
@font-face {
	font-family: 'Seurat M';
	font-weight: normal;
	font-style: normal;
	src: url(fonts/FOT-SeuratPro-M.otf) format("opentype");
}
@font-face {
	font-family: 'Nukamisto';
	font-weight: normal;
	font-style: normal;
	src: url(fonts/nukamiso__beta08.ttf) format("truetype");
}

* {
	background-color: #111;
}

:root {
	scrollbar-width: none;
}

body {
	color: #ddd;
	font-family: 'Nukamisto';
	margin: 0;
	overflow: auto;
}

::-webkit-scrollbar {
    width: 0px;
}

p {
	margin: 0;
	font-size: 1em;
	/*font-family: 'Seurat DB'*/
}

h3 {
	font-size: 1.5em;
	margin-top: 0px;
	margin-bottom: 20px;
	color: #888888;
}

h4, .title {
	margin-left: 0px;
	margin-top: 0;
	color: #888888;
}

.note {
	font-style: italic;
	margin-bottom: 20px;
	color: #888888;
}

.date {
	color: #888888;
}

#timeline {
	width: 67%;
}

.content {
	font-size: 1em;
	margin-left: 2em;
	margin-bottom: 20px;
}

tr {
	display: flex;
	flex-direction: column;
}

table {
	margin-left: 7em;
}

.double-entry {
	margin-bottom: 1em;
}
.AIRTH {
	color: #74ffc9;
}
.CCC {
	color: #6735a5;
}
.KIRBY {
	color: #ffb3ff;
}
.PAINT {
	color: #008080;
}
.OTHER {
	color: #888;
}
.FOOLS {
	color: #a64d79;
}
.NUGGET {
	color: #996515;
}
.GORK {
	color: #D5CAB0;
}
.SPIDA {
	color: #e3e253;
}
.HCB {
  color: #4d7780;
}
.KITTY {
 color: #d5a6bd;
}
.RESPH {
	color: #97659c;
}
.NOAKA {
	color: #8a80b1;
}